<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'  https://maxcdn.bootstrapcdn.com https://ajax.googleapis.com https://use.fontawesome.com; style-src 'self' 'unsafe-inline' *; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.trackjs.com; font-src *;connect-src *; media-src *;">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <title>
        Login
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link th:href="@{/assets/css/black-dashboard.css}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/assets/demo/demo.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row align-items-center justify-content-center " style="height:100vh">
            <div class="col-10 col-md-6 col-lg-4 col-xl-4 p-1">
                <div class="card bg-primary p-1">
                    <form class="box p-4 bg-dark" th:action="@{/login}" method="post">
                        <h2 class="text-primary">LOGIN</h2>
                        <p class="text-muted"> Please enter your username and password!</p>
                        <input type="text" name="username" placeholder="Username">
                        <input type="password" name="password" placeholder="Password">
                        <a class="forgot text-muted text-info" href="#">Forgot password?</a>
                        <br><br>
                        <input class = "btn btn-warning animation-on-hover" type="submit" name="" value="Login" href="#">

                        <div th:if="${param.error}" class="text-danger pt-2">
                            Invalid username or password.
                        </div>
                        <div th:if="${param.logout}" class="text-info pt-2">
                            You have been logged out.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--   Core JS Files   -->
    <script th:src="@{/assets/js/core/jquery.min.js}"></script>
    <script th:src="@{/assets/js/core/popper.min.js}"></script>
    <script th:src="@{/assets/js/core/bootstrap.min.js}"></script>

    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
    <script>
        window.TrackJS &&
            TrackJS.install({
                token: "ee6fab19c5a04ac1a32a645abde4613a",
                application: "research-paper-verification-system"
            });
    </script>
</body>

</html>

